.lista {
	border-collapse: collapse;
	border: 2px solid rgb(140 140 140);
	font-family: sans-serif;
	font-size: 0.8rem;
	letter-spacing: 1px;
}

.lista caption {
	caption-side: bottom;
	padding: 10px;
	font-weight: bold;
}

.lista thead,
.lista tfoot {
	background-color: rgb(228 240 245);
}

.lista th,
.lista td {
	border: 1px solid rgb(160 160 160);
	padding: 8px 10px;
}

.lista td:last-of-type {
	text-align: center;
}

.lista tbody > .lista tr:nth-of-type(even) {
	background-color: rgb(237 238 242);
}

.lista tfoot th {
	text-align: right;
}

.lista tfoot td {
	font-weight: bold;
}
